body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4C8EB9;
    padding-top: 20px;
}

.location-label {
    color: #D7FCFE;
    font-family: Arial, Helvetica, sans-serif;
}

.location-input {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #D7FCFE;
}

.location-button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 5px;
    color: #D7FCFE;
    background-color: darkblue;
    border: 1px solid #D7FCFE;
}

.current-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #D7FCFE;
    padding: 30px;
}

.city-name {
    font-size: 4rem;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.current-condition {
    font-size: 1.5rem;
    margin: 0;
    padding: 5px;
}

.currentConditionIcon {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
}

.current-temp {
    font-size: 6rem;
    margin: 0;
    padding: 0;
}

.display-forecast {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.forecast-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #D7FCFE;
    border: 1px solid #D7FCFE;
    border-radius: 10px;
}

.forecast-date {
    font-size: 3rem;
    font-weight: bold;
}

.condition {

}

.temp {
    font-weight: bold;
    font-size: 1.5rem;
}